<header class="header">
  <nav class="navbar">
    <div class="navbar-brand">
      <div class="navbar-item">
        <div class="asam_logo"></div>
        <a href="{{or site.url (or siteRootUrl siteRootPath)}}">{{site.title}}
          {{#unless (eq page.componentVersion.displayVersion "master")}}{{#unless (eq page.layout '404')}} –
          {{page.componentVersion.displayVersion}}{{/unless}}{{/unless}}</a>
      </div>
      {{#if env.SITE_SEARCH_PROVIDER}}
      <div class="navbar-item search hide-for-print">
        <div id="search-field" class="field">
          <input id="search-input" type="text" placeholder="Search the docs"{{#if page.home}} autofocus{{/if}}>
        </div>
      </div>
      {{/if}}
    </div>
    <div class="navbar-item menu hide-for-print">
      <div id="topbar-nav" class="navbar-menu">
        <div class="navbar-end">
          <a class="navbar-item" href="#">To top</a>
          <div class="navbar-item is-hoverable">
            {{#if page.attributes.feedbackurl}}
              {{#if page.attributes.feedbackcontent}}
                <a class="navbar-item" href="{{page.attributes.feedbackurl}}?{{page.attributes.feedbackcontent}}--%3E%0D%0A%7C%20%7C%20%7C%0D%0A%7C---%7C---%7C%0D%0A%7C%20URL%20%7C%20{{site.url}}{{page.url}}%20%7C%0D%0A%7C%20Page%20%7C%20{{page.title}}%20%7C%0D%0A%7C%20Module%20%7C%20{{page.module}}%20%7C" title="Click here to submit feedback on this page">Submit feedback</a>
              {{else}}
                {{#if page.attributes.feedbacktype}}
                  {{#if (eq page.attributes.feedbacktype 'gitlab')}}
                    <a class="navbar-item" href="{{page.attributes.feedbackurl}}?subject=Review%20feedback:%20%3Ctopic%20summary%3E&amp;body=%23%23%20Subject%0D%0A%3CAdd%20title%20of%20topic%3E%0D%0A%0D%0A%23%23%20Section%20%0D%0A%3CAdd%20section%20here%3E%0D%0A%0D%0A%23%23%20Description%20%0D%0A%3CAdd%20feedback%20here%3E%0D%0A%3C%20Recommended%3A%20Add%20a%20screenshot%20of%20the%20part%20you%20want%20to%20comment%20on%3E%0D%0A%0D%0A%23%23%20Suggestion%0D%0A%3C%20Add%20a%20suggestion%20or%20things%20you%20want%20to%20change%20after%20this%3E%0D%0A%0D%0A%3C%21--%20The%20following%20content%20was%20automatically%20added.%20DO%20NOT%20CHANGE%20--%3E%0D%0A%7C%20%7C%20%7C%0D%0A%7C---%7C---%7C%0D%0A%7C%20URL%20%7C%20{{site.url}}{{page.url}}%20%7C%0D%0A%7C%20Page%20%7C%20{{page.title}}%20%7C%0D%0A%7C%20Module%20%7C%20{{page.module}}%20%7C" title="Click here to submit feedback on this page">Submit feedback</a>
                  {{/if}}
                  {{#if (eq page.attributes.feedbacktype 'github')}}
                    <a class="navbar-item" href="{{page.attributes.feedbackurl}}?labels=new;title=Content+feedback:+;body=%23+Prerequisites%0D%0A%0D%0AThis+is+in+regards+to%3A%0D%0A%0D%0A-+%5B+%5D+Title%0D%0A-+%5B+%5D+Content%3A+Text%0D%0A-+%5B+%5D+Content%3A+Image%28s%29%0D%0A-+%5B+%5D+Formatting%0D%0A-+%5B+%5D+Location+in+Project+Guide%0D%0A-+%5B+%5D+Obsolete%0D%0A%0D%0A%23+Subject%0D%0A%3C%21--+%3CAdd+title+of+topic%3E+--%3E%0D%0A%0D%0A%23+Section%0D%0A%3C%21--+%3CAdd+section+here%3E++--%3E%0D%0A%0D%0A%23+Description%0D%0A%3C%21--+%3CAdd+feedback+here%3E+--%3E%0D%0A%3C%21--+%3C+Recommended%3A+Add+a+screenshot+of+the+part+you+want+to+comment+on%3E+--%3E%0D%0A%0D%0A%23+Suggestion%0D%0A%3C%21--+%3C+Add+a+suggestion+or+things+you+want+to+change+after+this%3E+--%3E%0D%0A%0D%0A%3C%21--+If+added+manually%2C+please+fill+in+the+following+table+with+URL+%3D+page+url%2C+Page+%3D+the+name+of+the+page.+You+can+leave+Module+open+--%3E%0D%0A%7C+%7C+%7C%0D%0A%7C---%7C---%7C%0D%0A%7C+URL+%7C+{{site.url}}{{page.url}}+%7C%0D%0A%7C+Page+%7C+{{page.title}}+%7C%0D%0A%7C+Module+%7C+{{page.module}}+%7C" title="Click here to submit feedback on this page">Submit feedback</a>
                  {{/if}}
                {{/if}}
              {{/if}}
            {{/if}}
          </div>
        </div>
        {{#if page.attributes.download-links}}
          <div class="navbar-item has-dropdown is-hoverable">
            <a class="navbar-link" href="#">Additional resources</a>
            <div class="navbar-dropdown">
              {{# each page.attributes.download-links}}
                {{#if (eq page.attributes.component-latest-version page.attributes.version)}}
                  <a class="navbar-item" href="{{{../siteRootPath}}}/{{{../page.componentVersion.name}}}/latest/{{{../page.module}}}/_attachments/{{this.[0]}}" download>{{this.[1]}}</a>
                {{else}}
                  <a class="navbar-item" href="{{{../siteRootPath}}}/{{{../page.componentVersion.name}}}/{{{../page.componentVersion.version}}}/{{{../page.module}}}/_attachments/{{this.[0]}}" download>{{this.[1]}}</a>
                {{/if}}
              {{/each}}
            </div>
          </div>
        {{/if}}
      </div>
    </div>
  </nav>
</header>
