{{!-- {{#if (eq page.attributes.component-latest-version page.attributes.version)}}
  <img src="{{{siteRootPath}}}/{{{page.componentVersion.name}}}/latest/{{{page.module}}}/_images/{{{page.attributes.progress_bar}}}">
{{else}}
  <img src="{{{siteRootPath}}}/{{{page.componentVersion.name}}}/{{{page.componentVersion.version}}}/{{{page.module}}}/_iamges/{{{page.attributes.progress_bar}}}">
{{/if}} --}}
<div class="imageblock">
  <div class="content">
    <img src="{{{siteRootPath}}}/{{{page.componentVersion.name}}}/{{{page.componentVersion.version}}}/{{{page.module}}}/_images/{{{page.attributes.progress_bar}}}" style="width:100%;" id="progress_bar">
  </div>
</div>
{{#with page.title}}
<h1 class="page">{{{this}}}</h1>
{{/with}}
{{{page.contents}}}
{{> pagination}}
